<div layout-padding>
    <div style="border-style: double; background-color: rgba(255,255,255,0.2); padding: 40px; font-size: 16px">
        <h3 style="text-align: center; font-weight: bold; font-size: 26px">Create new tournament</h3>

        <form name="tournamentForm" class="md-block" flex-gt-sm>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Name</label>
                <input required name="tournamentName" ng-model="name">

                <div ng-messages="tournamentForm.tournamentName.$error">
                    <div ng-message="required">Name is required.</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label>General information</label>
                <textarea required name="description" ng-model="description" md-maxlength="500" rows="5"
                          md-select-on-focus></textarea>

                <div ng-messages="tournamentForm.description.$error">
                    <div ng-message="required">This is required.</div>
                    <div ng-message="md-maxlength">Description has to be less than 500 characters long.</div>
                </div>
            </md-input-container>
        </form>
        <br>

        <div layout-gt-sm="row" layout-align="space-around" class="options">
            <div flex-gt-sm="50">
                <h4 style="font-weight: bold">Type of bets and possible points</h4>

                <div style="margin-left: 20px;">
                    <div ng-repeat="betType in betTypes">
                        <md-switch ng-model="betType.enabled" md-theme="switches">
                            {{betType.name}}
                            <md-tooltip md-direction="right" md-theme="tooltip">
                                {{betType.description}}
                            </md-tooltip>
                        </md-switch>
                        <div ng-if="betType.enabled" style="margin-left: 20px;">
                            <div layout="row">
                                <div ng-repeat="predict in betType.possibleValues" layout="column"
                                     style="margin-left: 10px;">
                                    <h5 class="bold-text">{{predict.name}}</h5>
                                    <md-input-container>
                                        <input aria-label="possible points" ng-model="predict.possiblePoints"
                                               type="number" step="1" min="1" max="99">
                                    </md-input-container>
                                    <md-switch ng-if="predict.typeWinner !== undefined"
                                               ng-model="predict.typeWinner.enabled" md-theme="switches">
                                        <div style="width: 40px;">Type also winner in case of draw (works only in
                                            knockout phase)
                                        </div>
                                    </md-switch>
                                    <md-input-container ng-if="predict.typeWinner.enabled"
                                                        style="margin-left: 20px">
                                        <label>Extra points</label>
                                        <input ng-model="predict.typeWinner.extraPoints" type="number" step="1"
                                               min="1" max="99">
                                    </md-input-container>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div layout-gt-sm="column" flex-gt-sm="50">
                <div>
                    <h4 style="font-weight: bold">General settings</h4>

                    <div style="margin-left: 20px;">
                        <md-switch ng-model="settings.private" md-theme="switches">
                            Private tournament
                        </md-switch>
                        <md-switch ng-model="settings.invitePrivilege" md-theme="switches">
                            Participants can invite other users
                        </md-switch>
                        <md-switch ng-model="settings.majorityToKick" md-theme="switches">
                            Required majority to delete participant
                        </md-switch>
                    </div>
                </div>
                <div>
                    <h4 style="font-weight: bold">Allow adding matches during tournament</h4>

                    <div style="margin-left: 40px;">
                        <md-radio-group ng-model="settings.addMatchPrivilege" md-theme="switches">
                            <md-radio-button value="true">Enable</md-radio-button>
                            <md-radio-button value="false"> Disable</md-radio-button>
                            <md-radio-button value="vote">Voting</md-radio-button>
                        </md-radio-group>
                    </div>
                </div>
                <div>
                    <h4 style="font-weight: bold">Method of counting points per bet</h4>

                    <div style="margin-left: 40px;">
                        <md-radio-group ng-model="settings.countPointsMethod" md-theme="switches">
                            <md-radio-button value="sum">Sum points</md-radio-button>
                            <md-radio-button value="best">Only best</md-radio-button>
                        </md-radio-group>
                    </div>
                </div>
            </div>
        </div>
        <br>

        <div layout=row>
            <md-input-container>
                <h4 style="font-weight: bold">Tournament type </h4>
                <select ng-model="template" ng-change="changeTemplate()">
                    <option value="custom">Custom</option>
                    <option value="euro2016">Euro 2016</option>
                </select>
            </md-input-container>
            <div flex class="bubble me" style="margin-left: 40px">{{descriptions[template]}}</div>
        </div>
        <br>

        <div layout="row" layout-align="center center" layout-wrap>
            <div ng-repeat="stage in tournamentTemplate.stages track by $index" style="width: 350px;">
                <div class="stage-header">
                    <div layout="row">
                        <h4 style="font-weight: bold">{{stage.stageName}}</h4>

                        <div style="margin-left: auto">
                            <md-button aria-label="Remove" class="md-icon-button"
                                       ng-click="showEditStageDialog($event,$index)">
                                <md-icon md-svg-icon="../assets/icons/new-file.svg"></md-icon>
                            </md-button>
                            <md-button aria-label="Remove" class="md-icon-button" ng-click="remove($index)">
                                <md-icon md-svg-icon="../assets/icons/close.svg"></md-icon>
                            </md-button>
                        </div>
                    </div>
                </div>
                <div class="stage-body" style="text-align: center">
                    <h4>Extra points: {{stage.extraPoints}}
                        <p>
                            Number of matches: {{stage.fixtures.length}}
                        </p>
                    </h4>
                </div>
            </div>
            <md-button aria-label="Add" class="md-icon-button" style="margin: 20px; width: 60px; height: 60px;"
                       ng-click="addNewStage()">
                <md-icon md-svg-icon="../assets/icons/add-button.svg" style=" width: 50px; height: 50px;"></md-icon>
                <md-tooltip>Add new stage</md-tooltip>
            </md-button>
        </div>
        <div layout="column" flex>
            <div class="invitations-header" style="height: 40px; padding: 0">
                <h4 style="font-weight: bold">Send invitations</h4>
            </div>
            <div class="stage-body">
                <md-contact-chips flex
                                  ng-model="asyncContacts"
                                  md-contacts="delayedQuerySearch($query)"
                                  md-contact-name="name"
                                  md-contact-image="avatar"
                                  md-contact-email="email"
                                  md-require-match="true"
                                  md-highlight-flags="i"
                                  filter-selected="filterSelected"
                                  placeholder="Send invitation to">
                    <md-chip>HEHEHEHE</md-chip>
                </md-contact-chips>
            </div>
        </div>
    </div>
    <md-button md-theme="dark-orange" ng-click="continue()" class="pull-right md-raised">Continue
    </md-button>
</div>