<div layout-fill flex layout-padding layout-align="center" style="margin-bottom: 40px">
    <div style="border-style: double; background-color: rgba(255,255,255,0.3)">
        <h3 style="text-align: center">Create new bet</h3>
        <div style="text-align: center">Search for matches in the nearest future.</div>
        <div layout="row" layout-fill layout-padding layout-align="center center" >
            <md-button aria-label="Choose league" ng-click="showChooseLeaguesDialog($event)" flex="5" class="md-icon-button">
                <md-icon md-menu-origin md-svg-icon="../assets/icons/seasons.svg"></md-icon>
            </md-button>
            <md-input-container flex="80" style="margin-top: 40px">
                <label>Search by names</label>
                <input ng-model="inputTeamName" ng-change="filterFixtures()">
            </md-input-container>
            <md-input-container flex="10" style="margin-top: 40px">
                <label>Number of days</label>
                <input ng-model="days" type="number" step="1">
            </md-input-container>
            <md-button aria-label="Search" flex="5" class="md-icon-button" ng-click="findMatches()">
                <md-icon md-svg-icon="../assets/icons/search.svg"></md-icon>
            </md-button>
        </div>
    </div>
    <br>
   <my-match ng-repeat="fixture in filteredFixtures" fixture="fixture" type="'bet'"></my-match>
    <md-button ng-if="filteredFixtures.length > 0" md-theme="dark-orange" class="pull-right md-block md-raised" ui-sref=".chooseMatch">Next!</md-button>
</div>