.tall {
    height: 100%;
}

.menuBtn {
    background-color: transparent;
    border: none;
    height: 50px;
    width: 50px;
    background: url("../assets/icons/menu-button.png") no-repeat center center;
}

.toolbar {
    background-color: #964c47;
    color: black;
}

.profile {
    background-color: transparent;
    border: none;
    height: 50px;
    width: 50px;
    background: url("../assets/icons/user.png") no-repeat center center;
    background-size: cover;
}

body {
    font-family: 'Archivo Narrow', sans-serif;
}

.box {
    border-style: solid;
    border-width: 1px;
    border-radius: 20%;
    background-color: rgba(254, 253, 255, 0.5)
}

.second-box {
    border-style: solid;
    border-width: 1px;
    border-radius: 5%;
    background-color: rgba(254, 253, 255, 0.5)
}

.carousel-indicators li {
    visibility: hidden;
}

.onlogin {
    background-image: url('../assets/img/background_logging_blur.jpg');
    background-size: cover;
    height: 95%
}

.default {
    background-image: url('../assets/img/background_brighter.jpg');
    background-size: cover;
    height: 95%
}

#hideAll {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: white;
    z-index: 99; /* Higher than anything else in the document */

}

.bubble {
    background-color: #F2F2F2;
    border-radius: 5px;
    box-shadow: 0 0 6px #B2B2B2;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    vertical-align: top;
}

.bubble::before {
    background-color: #F2F2F2;
    content: "\00a0";
    display: block;
    height: 16px;
    position: absolute;
    bottom: 11px;
    transform: rotate(29deg) skew(-35deg);
    -moz-transform: rotate(29deg) skew(-35deg);
    -ms-transform: rotate(29deg) skew(-35deg);
    -o-transform: rotate(29deg) skew(-35deg);
    -webkit-transform: rotate(29deg) skew(-35deg);
    width: 20px;
}

.me {
    margin: 5px 45px 5px 20px;
}

.me::before {
    box-shadow: -2px 2px 2px 0 rgba(178, 178, 178, .4);
    left: -9px;
}

.you {
    float: right;
    margin: 5px 20px 5px 45px;
}

.you::before {
    box-shadow: 2px -2px 2px 0 rgba(178, 178, 178, .4);
    right: -9px;
}

.options {
    border-style: dashed;
    border-width: 1px;
    border-radius: 20px;
    padding: 1%;
    background-color: rgba(255, 255, 255, 0.7)
}

.stage-header {
    text-align: center;
    padding: 1%;
    margin: 20px;
    margin-bottom: 0;
    background-color: #6f909e;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.invitations-header {
    text-align: center;
    padding: 1%;
    margin: 20px;
    margin-bottom: 0;
    background-color: rgb(249, 168, 37);
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.stage-body {
    padding: 1%;
    margin: 20px;
    margin-top: 0px;
    background-color: rgba(255,255,255,0.7);
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

md-backdrop.md-opaque.md-default-theme,
.md-dialog-container {
    position:fixed;
    background-color: rgba(0,0,0,0.3);
}

.fade {
    opacity: 1;
    transition: 1s linear all;
    -webkit-transition: 1s linear all;
}

.fade.ng-enter {
    opacity: 0;
}

.fade.ng-enter.ng-enter-active {
    opacity: 0.8;
}

.fade.ng-leave {
    opacity: 0.8;
}

.fade.ng-leave.ng-leave-active {
    opacity: 0.2;
}

.my-match-non-selected {
    background-color: rgba(255, 255, 255)
}

.my-match-selected {
    background-color: #9CCC65;
}

md-virtual-repeat-container {
    background-color: #9CCC65;
    color: #003366;
    width: 400px;
}

.bold-text {
    font-weight: bold;
}

.center-text {
    text-align: center;
}

.non-padding {
    padding: 0;
}

.non-margin {
    margin: 0;
}

.transparent {
    background-color: rgba(255,255,255,0);
}

.tournaments-list {
    width: 300px;
    height: 100%;
}

.full-width {
    width: 100%;
}

.underline {
    border-bottom: solid 1px;
}

.small-text {
    font-size: 14px;
}

.medium-height {
    height: 250px;
}

.loading {
    -webkit-filter: blur(5px);
}