.tall {
    height: 100%;   
}
.menuBtn {
    background-color: transparent;
    border: none;
    height: 50px;
    width: 50px;
    background: url("../assets/icons/menu-button.png") no-repeat center center;
}
.toolbar {
    background-color: #964c47;
    color: black;
}

.profile {
    background-color: transparent;
    border: none;
    height: 50px;
    width: 50px;
    background: url("../assets/icons/user.png") no-repeat center center;
    background-size: cover;
}

body {
    font-family: 'Archivo Narrow', sans-serif;
}

.box {
    border-style: solid;
    border-width: 1px;
    border-radius: 20%;
    background-color: rgba(254, 253, 255, 0.5)
}

.second-box {
    border-style: solid;
    border-width: 1px;
    border-radius: 5%;
    background-color: rgba(254, 253, 255, 0.5)
}

.onlogin {
    background-image: url('../assets/img/background_logging_blur.jpg'); background-size: cover; height: 95%
}

.default {
    background-image: url('../assets/img/background_brighter.jpg'); background-size: cover; height: 95%
}

#hideAll
{
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: white;
    z-index: 99; /* Higher than anything else in the document */

}