<md-dialog aria-label="Update your informations" style="width: 370px">
    <md-toolbar style="background-color: #82a43a; text-align: center">
        <div class="md-toolbar-tools">
            <h2 style="text-align: center">Edytuj swój profil</h2>
            <md-button class="md-icon-button" ng-click="cancel()" style="margin-left: auto">
                <md-icon md-svg-src="../assets/icons/cancel.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content layout="column" style="padding: 10%;">
        <h4 style="text-align: center">Avatar</h4>
        <uib-carousel active="currentUser.avatar" style="width: 75%; height: auto; align-self: center">
            <uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                <img ng-src="{{'../assets/avatars/people-'+slide.id+ '.svg'}}" style="margin:auto;">
            </uib-slide>
        </uib-carousel>
        <br>
        <form name="updateForm" layout="column">
            <md-input-container>
                <label>Imię</label>
                <input required name="firstName" ng-model="currentUser.firstName">
                <div ng-messages="updateForm.firstName.$error">
                    <div ng-message="required">Wprowadź swoję imię.</div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>Nazwisko</label>
                <input ng-model="currentUser.lastName">
            </md-input-container>
            <md-input-container>
                <label>Email</label>
                <input required name="email" ng-model="currentUser.email" type="email">
                <div ng-messages="updateForm.email.$error">
                    <div ng-message="required">Wprowadź swój adres e-mail.</div>
                    <div ng-message="email">Adres e-mail jest niepoprawny.</div>
                </div>
            </md-input-container>
        </form>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="update()" style="margin-right:20px;" ng-disabled="!validateUpdateForm()">
            Aktualizuj
        </md-button>
    </md-dialog-actions>
</md-dialog>