<div ng-controller="ProfileController">
    <md-sidenav
            ng-if="isUserLogged"
            md-is-locked-open="$mdMedia('gt-md')"
            md-component-id="left">
        <div layout="column">
            <md-card md-theme="yellow" md-theme-watch style="margin-bottom: 0">
                <md-card-title>
                    <md-card-title-media>
                        <div class="md-media-sm card-media">
                            <img ng-src="{{'../assets/avatars/people-'+currentUser.avatar + '.svg'}}" class="md-media-sm card media"
                                 alt="image caption"
                                 style="border-radius: 50%; box-shadow: 0 0 8px rgba(0, 0, 0, .8);-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8); background-color: #662520">

                        </div>
                    </md-card-title-media>
                    <md-card-title-text style="margin-left: 30px">
                        <span class="md-headline">{{currentUser.firstName + ' ' + currentUser.lastName}}</span>
                        <span class="md-subhead">54 pkt.</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-actions layout="row" layout-align="center center">
                    <md-button>Statystyki</md-button>
                    <md-button ng-click="showEditUserDialog($event)">
                        Konto
                    </md-button>
                </md-card-actions>
            </md-card>
            <div layout="row" style="margin-left:8px">
                <md-button layout-fill
                           ui-sref="home"
                           class="md-primary md-raised small-button" aria-label="Strona domowa">
                    <md-icon md-svg-icon="../assets/icons/home.svg"></md-icon>
                    <md-tooltip>Strona domowa</md-tooltip>
                </md-button>
                <md-button layout-fill
                           ui-sref="tournament-list-view"
                           class="md-accent md-raised small-button" aria-label="Strona domowa">
                    <md-icon md-svg-icon="../assets/icons/command.svg"></md-icon>
                    <md-tooltip>Szukaj turnieju</md-tooltip>
                </md-button>
                <md-button layout-fill
                           ui-sref="home"
                           class="md-warn md-raised small-button" aria-label="Strona domowa">
                    <md-icon md-svg-icon="../assets/icons/home.svg"></md-icon>
                </md-button>
            </div>
            <md-content class="custom-border" style="margin: 10px; height: auto;max-height: 400px; ">
                <div ng-repeat="notification in currentUser.notifications | reverse" class="notify md-whiteframe-20dp">
                    {{notification.message}}
                    <p class="bold-text">
                        {{notification.tournament.name}}
                    </p>
                    <a href="">
                        <img ng-src="{{'../assets/avatars/people-'+notification.notifiedBy.avatar + '.svg'}}" alt="image caption"
                             style="border-radius: 50%; background-color: #dcdbdd; width: 40px;
                             height: 40px; box-shadow: 0 0 8px rgba(0, 0, 0, .8);-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);">

                        {{notification.notifiedBy.firstName}} {{notification.notifiedBy.lastName}}
                    </a>
                    <p>
                        <md-button class="md-icon-button" aria-label="Potwierdz" ng-click="confirmNotification(notification)">
                            <md-icon md-svg-icon="../assets/icons/confirm.svg"></md-icon>
                            <md-tooltip>
                                Zaakcpetuj
                            </md-tooltip>
                        </md-button>
                        <md-button class="md-icon-button" aria-label="Szczegoly">
                            <md-icon md-svg-icon="../assets/icons/tournament-detail.svg"></md-icon>
                            <md-tooltip>
                                Szczegóły
                            </md-tooltip>
                        </md-button>
                        <md-button class="md-icon-button" aria-label="Odrzuc">
                            <md-icon md-svg-icon="../assets/icons/error.svg"></md-icon>
                            <md-tooltip>
                                Odrzuć
                            </md-tooltip>
                        </md-button>
                    </p>
                </div>
            </md-content>
        </div>
    </md-sidenav>
</div>


