<div layout-padding layout="column" layout-align="center center">

    <h1>{{league.caption}}</h1>

    <div class="box" style="padding: 10px 150px 10px 150px; text-align: center">
        <h3>Current matchday: {{league.currentMatchday}}/{{league.numberOfMatchdays}}</h3>
        <h3>Number of teams: {{league.numberOfTeams}}</h3>
        <h3>Number of games: {{league.numberOfGames}}</h3>
        Last updated: {{league.lastUpdated}}
    </div>

    <md-tabs layout-fill flex md-dynamic-height md-border-bottom>
        <md-tab label="Teams" flex>
            <md-content flex class="md-padding" layout="row" layout-wrap layout-align="center center">
                <md-card flex="30" ng-repeat="team in teams">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">{{team.name}}</span>
                            <span class="md-subhead">{{team.squadMarketValue}}</span>
                        </md-card-title-text>
                        <md-card-title-media>
                            <div class="md-media-sm card-media">
                                <img ng-src="{{team.crestUrl}}">
                            </div>
                        </md-card-title-media>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button>Squad</md-button>
                        <md-button>Fixtures</md-button>
                    </md-card-actions>
                </md-card>
            </md-content>
        </md-tab>
        <md-tab label="Fixtures" ng-click="loadFixtures()" >
            <md-content layout="column" flex class="md-padding">
                <md-card ng-repeat="match in matches">
                    <md-card-title>
                        <md-card-title-media>
                            <div class="md-media-sm card-media">
                                <img ng-src="getCrestUrl(match.homeTeamName)">
                            </div>
                        </md-card-title-media>
                        <md-card-title-text>
                            <span class="md-headline">{{match.homeTeamName}} vs {{match.awayTeamName}}</span>
                            <span class="md-subhead" style="text-align: center">{{match.result.goalsHomeTeam}} : {{match.result.goalsAwayTeam}}</span>
                            <span class="md-subhead" style="text-align: center">{{match.date}}</span>
                        </md-card-title-text>
                        <md-card-title-media>
                            <div class="md-media-sm card-media">
                                <img ng-src="getCrestUrl(match.awayTeamName)">
                            </div>
                        </md-card-title-media>
                    </md-card-title>
                </md-card>
            </md-content>
        </md-tab>
        <md-tab label="League Table">
            <md-content class="md-padding">
                <h1 class="md-display-2">Tab Three</h1>
                <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
            </md-content>
        </md-tab>
    </md-tabs>

</div>