<div layout="column" layout-align="center center" style="padding: 5%;">
    <h1>{{league.caption}}</h1>
    <div class="box" style="padding: 10px 150px 10px 150px; text-align: center">
        <h3>Aktualna kolejka: {{league.currentMatchday}}/{{league.numberOfMatchdays}}</h3>
        <h3>Liczba drużyn: {{league.numberOfTeams}}</h3>
        <h3>Liczba meczy: {{league.numberOfGames}}</h3>
        Ostatnia aktualizacja: {{league.lastUpdated | date:'dd.MM.yyyy HH:mm'}}
    </div>
    <md-tabs layout-fill flex md-dynamic-height md-border-bottom>
        <md-tab label="Drużyny" flex>
            <div flex class="md-padding" layout="row" layout-wrap layout-align="center center">
                <md-card flex="30" ng-repeat="team in league.teams.teams">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">{{team.name}}</span>
                            <span class="md-subhead">{{team.squadMarketValue}}</span>
                        </md-card-title-text>
                        <md-card-title-media>
                            <div class="md-media-sm card-media">
                                <img ng-src="{{team.crestUrl | crestUrlChange}}" style="width: 80%; height: 80%">
                            </div>
                        </md-card-title-media>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button>Skład</md-button>
                        <md-button>Mecze</md-button>
                    </md-card-actions>
                </md-card>
            </div>
        </md-tab>
        <md-tab label="Mecze" ng-click="loadFixtures()">
            <div layout="column" ng-if="fixtures !== undefined" flex class="md-padding">
                <md-card ng-repeat="fixture in fixtures | reverse">
                    <md-card-title>
                        <md-card-title-media>
                            <div class="md-media-sm card-media">
                                <img ng-src="{{getCrestUrl(fixture.homeTeamName)| crestUrlChange}}" style="border: solid; border-width: 2px">
                            </div>
                        </md-card-title-media>
                        <md-card-title-text>
                            <span class="md-headline" style="text-align: center">{{fixture.homeTeamName}} vs {{fixture.awayTeamName}}</span>
                            <span class="md-headline" style="text-align: center">{{fixture.result.goalsHomeTeam}} : {{fixture.result.goalsAwayTeam}}</span>
                            <span class="md-subhead" style="text-align: center">{{fixture.date}}</span>
                        </md-card-title-text>
                        <md-card-title-media>
                            <div class="md-media-sm card-media">
                                <img ng-src="{{getCrestUrl(fixture.awayTeamName)| crestUrlChange}}" style="border: solid; border-width: 2px">
                            </div>
                        </md-card-title-media>
                    </md-card-title>
                </md-card>
            </div>
        </md-tab>
        <md-tab flex label="Tabela">
            <div flex class="second-box md-padding">
                <table flex layout-fill st-table="league.leagueTable.standing" class="table table-striped">
                    <thead>
                    <tr style="text-align: left">
                        <th>Poz.</th>
                        <th>Nazwa</th>
                        <th>Rozegranych meczy</th>
                        <th>Zwycięstwa</th>
                        <th>Remisy</th>
                        <th>Przegrane</th>
                        <th>Strzelone gole</th>
                        <th>Straceone gole</th>
                        <th>+/-</th>
                        <th>Punkty</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="team in league.leagueTable.standing">
                        <td>{{team.position}}.</td>
                        <td><img ng-src="{{team.crestURI}}" style="height: auto; width: 20px">{{'       '+team.teamName}}</td>
                        <td>{{team.playedGames}}</td>
                        <td>{{team.wins}}</td>
                        <td>{{team.draws}}</td>
                        <td>{{team.losses}}</td>
                        <td>{{team.goals}}</td>
                        <td>{{team.goalsAgainst}}</td>
                        <td>{{team.goalDifference}}</td>
                        <td>{{team.points}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </md-tab>
    </md-tabs>

</div>