<div ng-controller="HeaderController">
    <md-toolbar layout="row" class="md-whiteframe-10dp" style="background-color: #82a43a">
        <div class="md-toolbar-tools" flex layout-align="top center">
            <md-button ng-if="isUserLogged" layout-align="start center" aria-label="Toggle Menu" class="md-icon-button" ng-click="toggleSidenav('left')" hide-gt-md>
                <md-icon md-menu-origin md-svg-icon="../assets/icons/menu-button.svg"></md-icon>
            </md-button>
            <h2 style="font-family: 'Dancing Script', cursive; font-size: 150%">Hello, {{name}}!</h2>
        </div>
        <div ng-if="isUserLogged" flex="20" class="md-toolbar-tools" layout-align="end center">
            <md-menu>
                <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
                    <md-icon md-menu-origin md-svg-icon="../assets/icons/settings.svg"></md-icon>
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button>
                            Redial
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button disabled="disabled">
                            Check voicemail
                        </md-button>
                    </md-menu-item>
                    <md-menu-divider></md-menu-divider>
                    <md-menu-item>
                        <md-button ng-click="logout()">
                            Logout
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </md-toolbar>
</div>